.navigation {
    display: none;
    flex-direction: row;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-auto-columns: max-content;
    padding: 0 0 0 44px;
}

.navigation_open {
    display: grid;
}

.navigation-point {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    opacity: 1;
}

.navigation-point:hover {
    opacity: 0.7;
}

.navigation-point_hidden {
    display: none;
}