.Saved-movies {
    grid-area: main;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 140px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .Saved-movies {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .Saved-movies {
        max-width: 320px;
    }
}