.register {
    grid-area: main;
    align-self: center;
    max-width: 396px;
    width: 100%;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .register {
        padding: 232px 0;
    }
}

@media screen and (max-width: 320px) {
    .register {
        max-width: 260px;
        padding: 56px 0 30px;
    }
}

.register-logo {
    background-image: url(../../images/logo.svg);
    background-size: 38px, 38px, cover;
    background-repeat: no-repeat;
    max-width: 396px;
    min-height: 38px;
    width: 100%;
}

@media screen and (max-width: 320px) {
    .register-logo {
        max-width: 260px;
        margin: 0 auto;
    }
}

.register-title {
    width: 100%;
    margin: 0;
    padding: 40px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 320px) {
    .register-title {
        max-width: 260px;
        padding: 50px 0 80px;
    }
}

.register-fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.register-submit {
    width: 100%;
    margin: 0;
    padding: 128px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .register-submit {
        padding: 128px 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .register-submit {
        padding: 218px 0 14px;
    }
}

.register-submit__button {
    max-width: 396px;
    width: 100%;
    min-height: 45px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #3456F3;
    border-radius: 3px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .register-submit__button {
        max-width: 260px;
        font-size: 12px;
        line-height: 15px;
    }
}

.register-redirect {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.register-redirect__content {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
}

@media screen and (max-width: 320px) {
    .register-redirect__content {
        font-size: 12px;
        line-height: 15px;
    }
}

.register-redirect__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
}

@media screen and (max-width: 320px) {
    .register-redirect__link {
        font-size: 12px;
        line-height: 15px;
    }
}